<header>
    <div class="title">
        {{!-- Title of Page --}}
        <h1 class="title-text">Devour-a-Burger</h1>
    </div>
</header>

<div class="burger-cards">

    {{!-- Burgers to Eat Card --}}
    <div class="card burger-board fresh shadow">
        <div class="card-body">
            <h3 style= "color:  rgb(15, 194, 194)"; class="board-title">To be devoured</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    {{!-- Add a Burger Card --}}
    <div class="card form-card shadow">
        <form class="form-group new-burger">
            <label for="forANewBurger">Add a Burger!</label>
            <input type="text" name="burger-name" class="form-control" id="burgerId">
            <button type="submit" class="btn brgr-btn btn-outline-danger" value="0">Submit</button>
        </form>
    </div>

    {{!-- Already Sampled Card --}}
    <div class="card burger-board sampled shadow">
        <div class="card-body">
            <h3 style= "color: rgb(55, 151, 87)"; class="board-title">Devoured</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>