li {
    padding: 5px;
    margin: 5px;
    background: #bb8c4f;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(55, 151, 87);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  